* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

#menu-btn {
  display: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 50px;
}

.hero img {
  width: 200px;
}

/* FEATURES */
.features {
  padding: 40px;
  text-align: center;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  padding: 20px;
  background: lightgray;
  border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: black;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
  }

  #menu-btn {
    display: block;
  }

  .grid {
    flex-direction: column;
  }
}